<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <% if(cats){ %>
        <h1>Rare Cats in the world </h1>
        <main class="container">
            <% cats.forEach((cat)=> { %>
                <div class="a-box">
                    <div class="img-container">
                        <div class="img-inner">
                            <div class="inner-skew">
                                <img src="<%=cat.img %>">
                            </div>
                        </div>
                    </div>
                    <div class="text-container">
                        <h2>
                            <%= cat.name %>
                        </h2>
                        <h5>
                            <%= cat.age %>
                        </h5>
                        <div>
                            <%= cat.description %>
                        </div>
                    </div>
                </div>

                <% })%>
        </main>
        <% } %>
            <!-- <% if(cats){ %>
        <h1>Cat List</h1>
        <% cats.forEach((cat)=> { %>
            <div>
                <h2>
                    <%= cat.name %>
                </h2>
                <p>
                    <%= cat.description %>
                </p>
                <p>
                    <%= cat.age %>
                </p>
                <img src="<%= cat.img %>" alt="">
            </div>
            <% }) %>
                <% } %> -->
</body>

</html>